#忽略所有文件和目录
*
 
#增加指定目录和下面所有目录
!/src/


#增加指定扩展名文件和MAKEFILE文件
!*.cpp
!*.c
!*.h
!*.cc
!*.hpp
!*.sh
!.gitignore
 
#当前目录下需要提交的文件                                                                                                                                                  
!README.md
!todo_list.md
!开发日志.md
!CMakeLists.txt